{% extends "security/auth_base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field, render_field_errors, render_form_errors %}

{% block title %} Login {% endblock %}
{% block content %}
<div class="row w-100 m-0">
  <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
    <div class="col-lg-4 mx-auto">
      <div class="card">
        <div class="card-body px-5 py-5">
          {% with msg=get_flashed_messages()%}
            {% if msg %}
              {% for m in msg %}
                <h4>{{ m }}</h4>
              {% endfor %}
            {% endif %}
          {% endwith %}
          <h3 class="card-title text-left mb-3">Login</h3>
          <form method="POST">
      
          <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
            {{ login_user_form.hidden_tag() }}
            {{ render_form_errors(login_user_form) }}
            {% if "email" in identity_attributes %}
              {{ render_field_with_errors(login_user_form.email) }}
            {% endif %}
            {% if login_user_form.username and "username" in identity_attributes %}
              {% if "email" in identity_attributes %}
                <h3>{{ _fsdomain("or") }}</h3>
              {% endif %}
              {{ render_field_with_errors(login_user_form.username) }}
            {% endif %}
            <div class="fs-gap">
              {{ render_field_with_errors(login_user_form.password) }}</div>
            {{ render_field_with_errors(login_user_form.remember) }}
            {{ render_field_errors(login_user_form.csrf_token) }}
            <div class="text-center">
              {{ render_field(login_user_form.submit) }}
            </div>
            <p class="sign-up">Don't have an Account?<a href="{{url_for('security.register')}}"> Sign up</a></p>
            <p class="sign-up">Forgot password?<a href="{{url_for('security.forgot_password')}}"> Reset</a></p>
          </form>
        </div>

      </div>
      
    </div>
  </div>
  </div>
</div>
{% endblock %}
